@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Atkinson+Hyperlegible+Mono:ital@0;1&family=Borel&family=Bubbler+One&family=Cherry+Bomb+One&family=Crafty+Girls&family=Fuzzy+Bubbles:wght@400;700&family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins&family=Rubik+Puddles&family=Share+Tech+Mono&family=Sono:wght@200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "MONO" 1;
}

body{
    margin: 0;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/bg2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}

.container{
    background-color: rgb(255 255 255 / 40%);
    width: 50%;
    max-width: 12000px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.container h1{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 0;
    color: #2E5077;
}

.book-list, .author-list{
    margin-left: 30px;
    margin-bottom: 4px;
}

hr#one {
  width: 50%;
  margin: 1em auto;
}

.book-list h2{
    color: #2E5077;
}

.book-list h4{
    color: #2E5077;
}

.book-list p{
    font-weight: 600;
    color: #4DA1A9;
}

.book-list, .author-list{
    margin-left: 30px;
    margin-bottom: 4px;
}

hr#one {
  width: 50%;
  margin: 1em auto;
}

.author-list h2{
    color: #2E5077;
}

.author-list h4{
    color: #2E5077;
}

.author-list p{
    font-weight: 600;
    color: #4DA1A9;
}

.container a{
    background-color: #79D7BE;
    color: #2E5077;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    font-weight: 900;
    margin: 310px;
}

.container a:hover{
    color: #79D7BE;
    background-color: #2E5077;
}

